.dns-container {
    position: relative;
    background-color: var(--dns-bg-container);
    width: var(--width);
    height: calc(var(--width) / 2.1);
    border-radius: var(--radiusContainer);
    transition: background-color .3s var(--cubic);
}

.dns-button {
    cursor: pointer;
    display: block;
    border: none;
    width: var(--toggle);
    height: var(--toggle);
    border-radius: 50%;
    background-color: var(--dns-color);
    margin: 0 5%;
    position: relative;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    transition: all .3s linear;
    box-shadow: var(--shadow);
}

.dns-particle {
    position: relative;
    display: block;
    width: calc(var(--width) / 3);
    height: calc(var(--width) * 0.05);
    background-color: white;
    border-radius: 2px;
    transition: all .3s var(--cubic);
}


.dns-particle.one {
    top: 25%;
    left: 30%;
    box-shadow: var(--shadow);
}

.dns-particle.second {
    top: 50%;
    left: 45%;
    box-shadow: var(--shadow);
}

.dns-particle.third {
    width: 0;
    height: 0;
}


.dns-on .dns-particle {
    width: calc(var(--width) * 0.03);
    height: calc(var(--width) * 0.03);
    border-radius: 50%;
    background-color: var(--dns-color-on);
    display: block;
    position: relative;
}

.dns-on .dns-particle.one {
    top: 70%;
    left: 20%;
    box-shadow: none;
}

.dns-on .dns-particle.second {
    width: calc(var(--width) * 0.02);
    height: calc(var(--width) * 0.02);
    border-radius: 50px;
    top: 0;
    left: 10%;
    box-shadow: none;
}

.dns-on .third {
    width: calc(var(--width) * 0.04);
    height: calc(var(--width) * 0.04);
    border-radius: 50px;
    display: block;
    position: relative;
    top: 30%;
    left: -35%;
}

.dns-on {
    -webkit-transform: translate3d(125%, -50%, 0);
    transform: translate3d(125%, -50%, 0);
    background-color: transparent;
    box-shadow: var(--shadow-on);
}

.dns-container-on {
    background-color: var(--dns-bg-container-on);
}